Package: complaints-queue
Version: 0.5-3
Section: base
Priority: optional
Architecture: amd64
Depends: python (>= 2.7), libmysqlclient18 (>= 5.5)
Maintainer: Volodymyr Flonts <flyonts@gmail.com>
Description: OpenProcurement Complaints Queue
